NEXT_PUBLIC_WEB_URL='배포할 도메인'

# Prisma + Turso
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# Auth js
AUTH_SECRET='auth.js 토큰 secret'

# 카카오톡 로그인 Provider를 사용할 경우 필수
NEXT_PUBLIC_USE_AUTH_KAKAO=true
AUTH_KAKAO_ID=''
AUTH_KAKAO_SECRET=''