NEXT_PUBLIC_WEB_URL='배포할 도메인'

# Docker Local DB 설정
DOCER_CONTAINER='컨테이너 이름 (기본값 mysql-db)'
DOCER_MYSQL_ROOT_PASSWORD='도커로 실행하는 mysql root password (기본값 root)'
DOCER_MYSQL_DATABASE='도커로 실행하는 mysql database name (기본값 database)'
DOCER_MYSQL_PORT='도커로 실행하는 mysql port (기본값 3306)'

# Prisma
DATABASE_URL="db연결 url: mysql://root:${DOCER_MYSQL_ROOT_PASSWORD}@localhost:${DOCER_MYSQL_PORT}/${DOCER_MYSQL_DATABASE}"

# Auth js
AUTH_SECRET='auth.js 토큰 secret'

# 카카오톡 로그인 Provider를 사용할 경우 필수
NEXT_PUBLIC_USE_AUTH_KAKAO=true
AUTH_KAKAO_ID=''
AUTH_KAKAO_SECRET=''